# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/360/Xdk/audio/Release_OP
/360/Xdk/cdrom/Release_OP
/360/Xdk/core/Release_OP
/360/Xdk/input/Release_OP
/360/Xdk/pcsxr/Release_LTCG
/360/Xdk/pcsxr/Release_OP
/360/Xdk/video/Release_OP
/360/Xdk/zlib/Release_OP
/360/Xdk/pokopom_input/Release_OP
/360/Xdk/pcsxr/Release_LTCG
